<h1>Name: <%= @song.name %></h1>

<h2>Artist: <a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></h2>

<h3>Genres:</h3>
<ol>
<% @song.genres.each do |genre| %>
  <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
<% end %>
</ol>
<p>Time between creation and update: <%= @song.updated_at - @song.created_at %></p>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
